.filters {
  width: 100%;
  text-align: center;
}
.filters li {
  background: #9e9e7fa6;
  display: inline-block;
  max-width: 100px;
  padding: 8px;
}
.filters li label {
  display: block;
  font-size: 15px;
  font-weight: 900;
}
.filters li input {
  width: 90%;
}
.filters li select {
  width: 90%;
}
.widget {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 50px auto;
  background: #9e9e7f4b;
  border-radius: 10px;
  box-shadow: 0 10px 25px #9e9e7f;
}
.widget .cover {
  height: 160px;
  overflow: hidden;
}
.widget .cover img {
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}
.widget .photo {
  position: absolute;
  top: 85px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: 0 0 0 -55px;
  border: 5px solid #9e9e7f;
  border-radius: 50%;
}
.widget h1,
.widget h2,
.widget h3 {
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #807d7d;
}
.widget h1 {
  margin: 40px;
  font-size: 20px;
  color: #000;
}

.widget h2 {
  margin: 10px;
  font-size: 20px;
  color: #807d7d;
}
.datos {
  display: flex;
  justify-content: center;
}

.country {
  display: flex;
  justify-content: center;
}
.widget h3 {
  font-size: 14px;
  color: #807d7d;
}
.widget ul {
  position: absolute;
  top: 20px;
  padding: 0;
  background: #ebe7b8;
}
.widget ul.position-left {
  left: -26px;
}
.widget ul.position-right {
  right: -26px;
}
.widget ul li {
  list-style: none;
}
.widget ul li a {
  display: block;
  padding: 5px 6px;
  color: grey;
  cursor: pointer;
  text-align: center;
  border-bottom: 1px solid #ebe7b8;
  transition: background-color 0.3s;
}
.widget ul li:hover > a {
  background-color: #ebe7b8;
}
.widget ul li:first-child > a {
  border-radius: 0 3px 0 0;
}
.widget ul li:last-child > a {
  border: none;
  border-radius: 0 0 3px 0;
}
